<ion-view view-title="Offer Details">
  <!--Display the notification details in the mobile-->
  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear icon ion-android-cart"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <h1>Miracle Beacon</h1> Congrats You got this following offer
    <br>
    <div class="row">
      <div class="col text-center">
        <div class="list card">
<!--Displays the notification image and relaed data-->
          <div class="item item-avatar">
            <img src="http://192.168.1.209/wcsstore/null/images/catalog/blue1.jpg">
            <h2>Marty McFly</h2>
            <p>November 05, 1955</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="http://192.168.1.209/wcsstore/null/images/catalog/blue1.jpg" style="width:100%;height:100%;">
            <p>
              {{responseData.CatalogEntryView[0].longDescription}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="button  button-positive " id="name" id="lButton" ng-click="userlogin(authorization)">
          <b>Add To Cart</b>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="button button-block button-positive" id="name" id="lButton" ng-click="userlogin(authorization)">
          <b>See more</b>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
