<ion-view view-title="Login">
  
  <ion-pane class="background-color-positive home-background ">

    <ion-content class="padding center " ng-controller='loginCtrl'>

      <center><img src="img/Logo with 300_120.png"></center>
      <!--validation for input fields-->
      <form name="authorizationForm" novalidate ng-submit="signIn(authorizationForm)">

        <div class="list">
          <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.username.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.username.$valid && authorizationForm.$submitted}">
            <i class="icon ion-person positive padding-right"></i>
            <input id="name" type="email" placeholder="Username" name="username" ng-model="authorization.username" ng-minlength="5" ng-maxlength="50" required>
          </label>
          <!-- error message for username -->
          <div class="error-container" ng-show="authorizationForm.username.$error &&  authorizationForm.username.$invalid && authorizationForm.username.$touched" ng-messages="authorizationForm.username.$error">
            <div ng-messages-include="error-list">
              <div id="error-list" class="error" ng-message="required && minlength">
                <i class="ion-information-circled"></i> This field is required! Minimum length of this field is 5 characters!
              </div>
            </div>
          </div>

          <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
            <i class="icon ion-locked positive padding-right"></i>
            <input id="name" type="password" placeholder="Password" name="password" ng-model="authorization.password" ng-minlength="5" ng-maxlength="50" required>
          </label>
          <!-- error message for password -->
          <div class="error-container last-error-container" ng-show="authorizationForm.password.$error && authorizationForm.password.$touched && authorizationForm.password.$invalid" ng-messages="authorizationForm.password.$error">
            <div ng-messages-include="error-list"></div>
            <div id="error-list" class="error" ng-message="minlength">
              <i class="ion-information-circled"></i> Minimum length of this field is 5 characters!
            </div>
          </div>
        </div>

        <div class="list list-inset changeSize">
          <ion-checkbox id="name" id="rememberme" ng-click="rememberme()">Remember Me </ion-checkbox>
        </div>

        <button class="button button-block button-positive button-pill" id="name" id="lButton" ng-click="userlogin(authorization)">
          <b>  Login</b>
        </button>

      </form>

    </ion-content>

  </ion-pane>
</ion-view>
