<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="custom">
    <ion-header-bar class="bar-profile">

       <div class="profile" menu-close id="idProfile" href="#/app/profile" style="display:block">

           <img class="profile-picture" src="http://ionicframework.com/img/docs/mcfly.jpg" />

           <h3 class="name">Thronester</h3>

       </div>

    </ion-header-bar>
    <ion-content>

      <ion-list>


        <!--  <ion-item menu-close id="idProfile" href="#/app/profile" style="display:block">

        </ion-item>-->
          <ion-item menu-close id="idRecentOrders" href="#/app/recentorders" style="display:block">
            <i class="icon ion-android-cart padding"></i> Recent Orders
          </ion-item>
          <ion-item menu-close id="idDemo" ng-click="check()" style="display:block">
            <i class="icon ion-bluetooth padding"></i> iBeacon Demo
          </ion-item>
          <ion-item menu-close id="idLogout" ng-controller='logoutCtrl' ng-click="logout()" style="display:block">
            <i class="icon ion-log-out padding"></i> Logout
          </ion-item>
          <ion-item menu-close id="pouchdb" href="#/app/pouchDB" style="display:block">
            <i class="icon ion-android-cart padding"></i> pouchDB
          </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
